.login-container{
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.input-values{
    display: flex;
    flex-direction: column;
    gap:10px;
}


.reg-forgot{
    display: flex;
    flex-direction: row;
}

a{
    border: 2px solid black;
    padding: 2px;
    margin:2px;
    width: 50%;
    text-align: center;
}