<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <div class="register-form-class">
        <form method="POST" action="/registration">
        <div class="input-values">
            <label for="username">username:<input type="text" id="username" name="username"    /></label>
            <label for="email">email:<input type="email" id="email" name="email"    /></label>
            <label for="password">password:<input type="password" id="password"  name="password"  /></label>
            <label for="roletype">Role:</label>
                <select id="roletype" name="role">
                    <option value="admin">admin</option>
                    <option value="user">user</option>
                </select>
            <input type="submit" value="register"/>
            <h3>
                    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for  message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            </h3>
        </div>
        </form>
    
    </div>
    
</body>
</html>