<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- reset_password.html -->
<form method="POST" action="{{ url_for('reset_password') }}">
    <label for="new_password">New Password:</label>
    <input type="password" name="new_password" id="new_password" required>
    <input type="submit" value="Reset Password">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for  message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
</form>

</body>
</html>